@{
    ViewBag.Title = "Errors";
}

<hgroup class="title">
    <h2 style=" font-weight: normal; font-size: 140%;  margin-left:10px;"></h2>
</hgroup>

<center>
<h3>Errors</h3>
<p><h4>@ViewBag.Message</h4></p>
</center>
<br />
