@{
    ViewBag.Title = "Message";
}

<hgroup class="title">
    <h2 style=" font-weight: normal; font-size: 140%;  margin-left:10px;"></h2>
</hgroup>

<center>
<h4>Message</h4>
<p><h5>@ViewBag.Message</h5></p>
</center>
<br />
